.button-container {
  height: auto;
  width: max-content;
  display: inline-flex;
}

.button,
button {
  padding: 15px 30px;
  color: var(--button-fg-color);
  background-color: #00000000;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  outline: none;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.button.alt-filled,
button.alt-filled {
  background-color: #fff;
}

.button.invert,
button.invert {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

.button.no-img-margin img,
button.no-img-margin img {
  margin: 0 !important;
}

.button:hover,
button:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.button:active,
button:active {
  background-color: #000;
  color: #fff;
}

.button img,
button img {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
}
