.button-container {
  height: auto;
  width: max-content;
  display: inline-flex;
}

.button,
button {
  padding: 15px 30px;
  color: #000;
  background-color: #00000000;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #3d3d3d;
  outline: none;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.button.invert,
button.invert {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

.button:hover,
button:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.button:active,
button:active {
  background-color: #000;
  color: #fff;
}

.button img,
button img {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
}

.invert-img-hover:hover img,
.invert-img-hover:hover img {
  filter: invert(100%);
}
