.floating-button {
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  outline: none;
  text-decoration: none;
  transition: ease-in 0.2s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-weight: bold;
}

.floating-button:hover {
  background-color: #3b3b3b;
  border: 0;
  color: #fff;
}

.floating-button:active {
  background-color: #3b3b3b;
  color: #fff;
}

.floating-button img {
  vertical-align: middle;
  margin: 0 10px 0 0;
}
