section {
  height: auto;
  width: 100%;
  max-width: 1400px;
  padding: 50px;
}

section .bio {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

section .bio img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

section .bio .description {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 2;
}

section .bio .description .main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;
}

section .bio .description .tag span.title {
  font-size: 26px;
  color: var(--blue);
  font-weight: bold;
  background: linear-gradient(45deg, var(--blue), var(--red));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .bio .description .additional {
  display: flex;
  flex-direction: column;
}

section .bio .description span {
  font-size: 20px;
}

section .bio .description .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

section .bio .description .action-buttons img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 1000px) {
  section .bio {
    flex-wrap: wrap;
  }
  section .bio .description {
    flex-direction: column;
  }
  section .bio .description .action-buttons {
    margin: 20px 0 0 0;
  }
  section .bio .description .action-buttons a {
    max-width: max-content;
  }
}

@media screen and (max-width: 800px) {
  section .bio {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  section .bio .description .action-buttons {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  section .stack {
    justify-content: center;
  }
}
