section {
  height: auto;
  width: 100%;
  max-width: 1400px;
  padding: 50px;
}

section p {
  color: var(--fg-light);
}

section .bio {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

section .bio img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

section .bio .description {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 2;
}

section .bio .description .main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;
}

section .bio .description .tag span.title {
  font-size: 26px;
  color: var(--blue);
  font-weight: bold;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .bio .description .additional {
  display: flex;
  flex-direction: column;
}

section .bio .description span {
  font-size: 20px;
}

section .bio .description .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

section .bio .description .action-buttons img {
  height: 24px;
  width: 24px;
}

section .separator {
  margin: 60px 0;
  background: var(--border-color);
  height: 1px;
  width: 100%;
}

section .project-summary {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

section .project-summary .left-panel {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section .project-summary .left-panel .item {
  height: auto;
  width: auto;
}

section .project-summary b {
  color: var(--red);
  margin: 0 0 10px 0;
  display: inline-flex;
  text-transform: uppercase;
}

section .project-summary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 100px;
}

section .project-summary .stack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

section .project-summary .stack-container .tag {
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: fit-content;
  color: var(--fg-dark);
}

section .project-summary .stack-container .tag:hover {
  background-color: var(--border-color);
}

section .project-summary .right-panel {
  max-width: 100%;
  height: auto;
}

section .project-gallery {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
  border-radius: 20px;
  overflow: hidden;
}

section .project-gallery img {
  object-fit: scale-down;
  width: 100%;
  height: fit-content;
  max-height: 700px;
  image-rendering: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s;
}

section .project-gallery img:hover {
  transition: ease-in 0.3s;
  transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
  section {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1366px) {
  section {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1100px) {
  section .project-summary {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 1000px) {
  section .bio {
    flex-wrap: wrap;
  }
  section .bio .description {
    flex-direction: column;
  }
  section .bio .description .action-buttons {
    margin: 20px 0 0 0;
  }
  section .bio .description .action-buttons a {
    max-width: max-content;
  }
}

@media screen and (max-width: 800px) {
  section .bio {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  section .bio .description .action-buttons {
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  section .project-summary .left-panel {
    display: flex;
    flex-flow: column;
  }
}

@media screen and (max-width: 500px) {
  section .stack {
    justify-content: center;
  }
}
