.works {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

.works .work-item {
  background-color: #ccc;
  border: 2px solid #ccc;
  height: 325px;
  width: 350px;
  position: relative;
  flex: 1 1 auto;
  padding: 20px;
  transition: ease-in 0.2s;
}

.works .work-item:hover {
  background-color: #bcbcbc;
}

@media screen and (max-width: 900px) {
  .works {
    flex-direction: column;
    justify-content: center;
  }
  .works .work-item {
    width: 100%;
  }
}
