.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(377px, auto));
  grid-gap: 40px;
  width: 100%;
  height: auto;
  margin: 40px 0;
  overflow: hidden;
}

.works .work-item {
  background-color: #ccc;
  height: 525px;
  width: 377px;
  position: relative;
  transition: ease-in 0.2s;
  background: var(--works-bg-gradient);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.works .work-item:hover button.hidden {
  display: inline-flex !important;
  align-items: center;
}

.works .work-item .item-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 30px;
}

.works .work-item:hover {
  background-color: #bcbcbc;
}

.works .work-item .item-container h3 {
  font-weight: 300;
  width: 100%;
  font-size: 18px;
  color: #000;
}

.works .work-item .item-container button {
  width: max-content;
}

.works .work-item img.banner {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in 0.3s;
}

.works .work-item img.banner:hover,
.works .work-item .item-container:hover + img {
  transition: ease-in 0.3s;
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .works {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .works .work-item {
    height: auto;
    width: 100%;
  }
  .works .work-item img.banner {
    display: none;
  }
  .works .work-item .item-container {
    position: unset;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .works .work-item .item-container button.hidden {
    display: inline-flex !important;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .works .work-item .item-container {
    flex-direction: column;
  }
  .works .work-item .item-container button.my-20 {
    margin: 5px 0;
  }
  .works .work-item .item-container h3 {
    text-align: center;
  }
}
