footer {
  background-color: #505050;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

footer .copyright {
  color: #fff;
}
